html {
    background-color: #111;
}

body {
    background-color: #111;
    color: #EEE;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #222;
    padding: 1rem;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-size: 20px 20px;
    background-image: linear-gradient(to right, #333 1px, transparent 1px), linear-gradient(to bottom, #333 1px, transparent 1px);
}

footer {
    background-color: #222;
    padding: 1rem;
}